{% load staticfiles %}
{% load pipeline %}

<!DOCTYPE html>
<html {% if pf_class %}class="{{ pf_class }}"{% endif %}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block head_title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

  {% stylesheet 'patternfly' %}
  {% stylesheet 'patternfly-additional' %}
  {% stylesheet 'orbach' %}
  {% block extra_css_assets %}{% endblock %}

  {% javascript 'jquery' %}
  {% javascript 'bootstrap' %}
  {% javascript 'patternfly' %}
  {% javascript 'orbach' %}
  {% block extra_js_assets %}{% endblock %}
</head>
<body>
{% block nav %}{% endblock %}
{% block flash %}
  {% if messages %}
    {% for message in messages %}
      <div class="flash alert {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
        {% if "alert-dismissible" in message.tags %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        {% endif %}

        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
{% block content %}{% endblock %}
</body>
</html>
