{% load staticfiles %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block head_title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'patternfly/dist/css/patternfly.min.css' %}" media="screen">
  <link rel="stylesheet" href="{% static 'patternfly/dist/css/patternfly-additions.min.css' %}" media="screen">

  <script src="{% static 'patternfly/components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'patternfly/components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'patternfly/dist/js/patternfly.min.js' %}"></script>
</head>
<body>
{% block content %}{% endblock %}
</body>
