{% extends "base.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Sign in to Orbach" %}{% endblock %}

{% block content %}
<span id="badge" class="fa fa-camera-retro welcome-logo"></span>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="brand">
        <h1>Orbach</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-7 col-md-6 col-lg-5 login">
  {% crispy form %}
  </div>
  <div class="col-sm-5 col-md-6 col-lg-7 details">
  <p>
    <strong>{% trans "Welcome to Orbach!" %}</strong>
  </p>
  <p>
    {% trans "Orbach is a lightweight gallery application with a mobile-focused design." %}
  </p>
  </div>
</div>
{% endblock %}
