{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block nav %}
<nav class="navbar navbar-default navbar-pf" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".orbach-navbar">
      <span class="sr-only">{% trans "Toggle navigation" %}</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'gallery:home' %}">
      <img src="{% static 'img/orbach-brand.png' %}" alt="Orbach"/>
    </a>
  </div>
  <div class="collapse navbar-collapse orbach-navbar">
    <ul class="nav navbar-nav navbar-utility">
      {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a id="nav-username" href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="pficon pficon-user"></span>
            {{ request.user.first_name }}<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">{% trans "Profile" %}</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="{% url 'gallery:logout' %}">{% trans "Log out" %}</a>
            </li>
          </ul>
        </li>
      {% else %}
        <li><a href="{% url 'gallery:login' %}">{% trans "Log in" %}</a></li>
      {% endif %}
    </ul>
    <div class="nav navbar-primary">
      <ul class="nav navbar-nav">
        <li><a href="#">{% trans "Galleries" %}</a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'gallery:manage_photos' %}">{% trans "Photo Management" %}</a></li>
        {% endif %}
      </ul>
      <div class="nav navbar-form navbar-right">
        <form id="orbach-search" role="form" class="search-pf has-button">
          <div class="form-group has-clear">
            <div class="search-pf-input-group">
              <label for="search1" class="sr-only">Search</label>
              <input id="search1" type="search" class="form-control" placeholder="{% trans 'Search...' %}">
              <button type="button" class="clear" aria-hidden="true"><span class="pficon pficon-close"></span></button>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
          </div>
        </form>
      </div>
    </div>
  </div> <!-- navbar-collapse -->
</nav>
{% endblock %}
