{% extends "nav.html" %}
{% load i18n %}
{% load l10n %}
{% load tz %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2">
      {% block workspace %}{% endblock %}
    </div>
    <div class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-10 sidebar-pf sidebar-pf-left">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                {% trans 'Photo Actions' %}
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked">
                <li><a href="#">{% trans 'Upload Photo' %}</a></li>
                <li><a href="#">{% trans 'Modify Photo' %}</a></li>
                <li><a href="#">{% trans 'Delete Photo' %}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                {% trans 'Gallery Actions' %}
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked">
                <li><a href="#">{% trans 'Create Gallery' %}</a></li>
                <li><a href="#">{% trans 'Modify Gallery' %}</a></li>
                <li><a href="#">{% trans 'Delete Gallery' %}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /container -->
{% endblock %}
