*.egg-info/
*.egg
*.log
*.db

MANIFEST
build/
po/POTFILES.in
orbach/core/locale/**/*.mo
.webassets-cache/
.eggs
test_deploy
**/static/generated

# Ignore a lot of static stuff that we aren't going to need.
**/static/**/bower.json
**/static/**/.bower.json
**/static/**/composer.json
**/static/**/package.json
**/static/**/Gruntfile.js
**/static/**/*.md
**/static/**/README*
**/static/**/CHANGELOG*
**/static/**/AUTHORS*
**/static/**/CONTRIBUTING*

**/patternfly/*.txt
**/patternfly/**/test*
**/patternfly/**/example*

**/patternfly/components/bootstrap-combobox/*
!**/patternfly/components/bootstrap-combobox/js
!**/patternfly/components/bootstrap-combobox/less

**/patternfly/components/bootstrap-select/*
!**/patternfly/components/bootstrap-select/**/*.min.*

**/patternfly/components/bootstrap-treeview/*
!**/patternfly/components/bootstrap-treeview/dist/*.js

**/patternfly/components/bootstrap/*
!**/patternfly/components/bootstrap/dist/js
!**/patternfly/components/bootstrap/dist/fonts
!**/patternfly/components/bootstrap/dist/less

**/patternfly/components/c3
**/patternfly/components/d3

**/patternfly/components/datatables/*
!**/patternfly/components/datatables/media/js
!**/patternfly/components/datatables/media/images

**/patternfly/components/datatables-colvis/*
!**/patternfly/components/datatables-colvis/js

**/patternfly/components/datatables-colreorder/*
!**/patternfly/components/datatables-colreorder/js
!**/patternfly/components/datatables-colreorder/images

**/patternfly/components/font-awesome/scss
**/patternfly/components/font-awesome/css

**/patternfly/components/html5shiv/*
!**/patternfly/components/html5shiv/dist/*.min.js

**/patternfly/components/google-code-prettify

**/patternfly/components/jquery/*
!**/patternfly/components/jquery/dist/*.min.*

**/patternfly/components/respond/*
!**/patternfly/components/respond/dest/*.min.js

**/patternfly/dist/css
**/patternfly/test-src
